################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SzofTechFutar-main/.vs/Futar_szolgalat/v17/Browse.VC.opendb
